.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.header__icon {
    padding: 20px;
    color: #d9e0e7;
}

.header__logo {
    object-fit: contain;
    height: 40px;
}